$main_color: rgba(36, 39, 48, .8);
$secondary_color: rgb(255, 153, 51);

.tooltip {
  position: absolute;
  z-index: 1;
  color: $secondary_color;
  background-color: $main_color;
  border-radius: .25rem;
  padding: .5rem;
}