$main_color: rgba(36, 39, 48, 0.8);
$secondary_color: rgb(255, 153, 51);

@mixin direction($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin justify($type) {
  -webkit-justify-content: $type;
  justify-content: $type;
}

@mixin align-center($align) {
  -webkit-align-items: $align;
  align-items: $align;
}

@mixin style-definition($direction, $justify, $align) {
  display: flex;
  display: -webkit-flex;

  @if $direction {
    @include direction($direction);
  }

  @if $justify {
    @include justify($justify);
  }

  @if $align {
    @include align-center($align);
  }
}

.tooltip {
  position: absolute;
  z-index: 1;
  color: $secondary_color;
  background-color: $main_color;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.mapboxgl-ctrl {
  display: none !important;
}

.a.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  display: none !important;
}
